<div class="bespeak_time" select-time>
    <div class="bespeak_time_title">
        <h2>预约时间</h2>
    </div>
    <div class="bespeak_time_list inline_flex day_list">
        <span class="active">今日</span><span>明日</span><span>后日</span><span>7.18</span><span>7.19</span>
    </div>
    <div class="bespeak_time_title">
        <h2>详细时间</h2>
    </div>
    <div class="bespeak_time_list time_list">
        <span>09:00</span><span>09:30</span><span>10:00</span><span>10:30</span><span>11:00</span><span>11:30</span><span>12:00</span><span>12:30</span><span>13:00</span><span>13:30</span>
        <span>14:00</span><span>14:30</span><span>15:00</span><span>15:30</span><span>16:00</span><span>16:30</span><span>17:00</span><span>17:30</span><span>18:00</span><span>18:30</span>
        <span>19:00</span><span>19:30</span><span>20:00</span><span>20:30</span><span>21:00</span>
    </div>
    <div class="bespeak_time_btn">
        <a href="javascript:;" class="sureBtn" ng-click="sureTime()">确认</a>
    </div>
</div>