<div class="select_situs">
    <div class="situs_search flex">
        <div class="situs_search_row">
            <i class="search_icon"></i>
            <input type="text" class="search_addr" id="suggestId" ng-model="search_val" size="20" ng-change="searchBtn()" placeholder="搜索" value=""/>
            <i class="cancel_search" ng-click="cancelSearch()"></i>
        </div>
        <a href="javascript:;" ng-click="searchBtn()">搜索</a>
    </div>
    <div class="situs_wrap">
        <h2>暂无搜索内容</h2>
    </div>
</div>