<div class="center_photo icon_right box" popup-wrap>
    <a href="#/myinfo" class="head">
        <p><img ng-src="{{userInfo.head}}" alt=""></p>
        <p>{{userInfo.nickname}}</p>
    </a>
</div>
<ul class="center_wrap">
    <li class="center_icon_orderPrice icon_right"><a href="#/spendorder">订单消费</a></li>
    <li class="center_icon_wxCoin icon_right"><a href="#/mywxcode">我的维修币</a></li>
    <li class="center_icon_address icon_right"><a href="#/commonAdrList">常用地址</a></li>
</ul>
<ul class="center_wrap">
    <li class="center_icon_evaluate icon_right"><a href="#/myservice">我的评价</a></li>
    <li class="center_icon_inform icon_right"><a href="#/messagecenter">我的消息</a></li>
</ul>
<ul class="center_wrap">
    <li class="center_icon_addUs icon_right"><a href="#/addUs">加盟我们</a></li>
    <li class="center_icon_more icon_right"><a href="#/more">更多信息</a></li>
</ul>